In [1]:
import pandas as pd

In [2]:
# Lab Program
# Part A
temp_dict = {'Maxine':[98.6, 96.9, 97.7], 'James':[98.9, 100.3, 101.1], 
            'Amanda':[98.9, 100.3, 100.1]}
temp = pd.DataFrame(temp_dict)
temp

   Maxine  James  Amanda
0    98.6   98.9    98.9
1    96.9  100.3   100.3
2    97.7  101.1   100.1

In [9]:
# Part B
#pd.DataFrame(temp_dict, index = ['Morning', 'Afternoon', 'Evening'])
temp.index = ['Morning', 'Afternoon', 'Evening']
temp

           Maxine  James  Amanda
Morning      98.6   98.9    98.9
Afternoon    96.9  100.3   100.3
Evening      97.7  101.1   100.1

In [5]:
# Part C
pd.set_option('precision', 2)
temp.describe()

       Maxine   James  Amanda
count    3.00    3.00    3.00
mean    97.73  100.10   99.77
std      0.85    1.11    0.76
min     96.90   98.90   98.90
25%     97.30   99.60   99.50
50%     97.70  100.30  100.10
75%     98.15  100.70  100.20
max     98.60  101.10  100.30

In [10]:
# Part D
temp.T

        Morning  Afternoon  Evening
Maxine     98.6       96.9     97.7
James      98.9      100.3    101.1
Amanda     98.9      100.3    100.1

In [15]:
# Part E
temp.sort_index(axis = 1)

           Amanda  James  Maxine
Morning      98.9   98.9    98.6
Afternoon   100.3  100.3    96.9
Evening     100.1  101.1    97.7