In [1]:
# 9.12.1 Python Standard Libary Module CSV
# The csv module’s writer function returns an object 
# that writes CSV data to the specified file object. 
# Each call to the writer’s writerow method receives an 
# iterable to store in the file.

In [5]:
import csv
with open('accounts.csv', 'w', newline = '') as accounts:
    writer = csv.writer(accounts)
    writer.writerow([100, 'Jones', 24.98])
    writer.writerow([200, 'Doe', 345.67])
    writer.writerow([300, 'White', 0.00])
    writer.writerow([400, 'Stone', -42.96])
    writer.writerow([500, 'Rich', 224.62])

In [8]:
# Reading from a CSV file
with open('accounts.csv', 'r', newline = '') as accounts:
    print(f'{"Account":<10}{"Name":<10}{"Balance":>10}')
    reader = csv.reader(accounts)
    for record in reader:
        account, name, balance = record
        print(f'{account:<10}{name:<10}{balance:>10}')

Account   Name         Balance
100       Jones          24.98
200       Doe           345.67
300       White            0.0
400       Stone         -42.96
500       Rich          224.62

In [9]:
# Reading CSV Files into Pandas DataFrames
# Datasets: The popular Rdatasets repository provides
# links to over 1100 free datasets in comma-separated
# values(CSV) format.

In [10]:
import pandas as pd
df = pd.read_csv('accounts.csv', names = ['account', 'name', 'balance'])
df

   account   name  balance
0      100  Jones    24.98
1      200    Doe   345.67
2      300  White     0.00
3      400  Stone   -42.96
4      500   Rich   224.62

In [11]:
# To save a DataFrame to a file using CSV format, 
# call DataFrame method to_csv.
# The index= False keyword argument indicates that 
# the roe names (0-4 at the left of the DatafRame’s 
# (output) are not written to the file. 
# The result file contains the column names as the 
# first row.

In [12]:
df.to_csv('aacounts_from_dataframe.csv', index = False)